body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    min-height: 100vh; /* Assure que le body prend toute la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
}

progress {
    margin: 10px 0; /* Ajuste les marges */
    height: 40px;
}

#title {
    margin: 0; /* Supprime la marge gauche */
    text-align: center; /* Centre le texte du titre */
}

#timer {
    text-align: center;
    font-size: 24px;
    margin: 10px 0; /* Uniformise les marges */
}

input {
    width: 180px;
    text-align: center;
    padding: 5px;
    border: 3px solid #2196F3;
    border-radius: 5px;
}

#startStop {
    border: transparent;
    background-color: white;
    margin: 15px;
}

#reset {
    color: black;
    font-weight: 700;
    background-color: white;
    border: 3px solid #2196F3;
    border-radius: 15px;
    text-align: center;
    padding: 8px;
}

button {
    all: unset;
}

button:hover {
    cursor: pointer;
}